html, body {
  margin: 5% 0;
  width: 100%;
  background-color: #69C0B8;
  font-family: Tahoma, sans-serif;
}

form {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

textarea {
	border: 2px solid #F29FA1;
	padding: 1em;
}

.container {
  display: flex;
  width: 70%;
  min-width: auto;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
