html, body {
  margin: 5% 0;
  width: 100%;
  background-color: #69C0B8;
  font-family: Tahoma, sans-serif;
}

form {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

textarea {
	border: 2px solid #F29FA1;
	padding: 1em;
}

button {
  display: flex;
  justify-content: center;
  width: 5em;
  height: 5em;
  border-radius: 15px;
  border-color: #F29FA1;
  background-color: black;
  color: white;
  align-self: flex-end;
}

button, textarea:focus {
  outline: none;
}

.previous {
  padding-top: 2em;
}

.fa {
  margin-top: 0.06em;
  margin-left: 0.03em;
}

.container {
  display: flex;
  width: 70%;
  min-width: auto;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
